.react-video-container {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  z-index: -1;
  .dc-video{
    visibility: hidden;
  }
  .video {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    &-play {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 99;
      >img{
        width: 60px;
        height: 60px;
        font-size: 0;
        display: block;
      }
    }
    &[data-position='middle'] {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    &[data-position='right-bottom'] {
      position: absolute;
      z-index: 2;
      bottom: .2rem;
      right: .2rem;
    }
    &:after {
      content: '';
      position: absolute;
      top: -.2rem;
      right: -.2rem;
      bottom: -.2rem;
      left: -.2rem;
    }
  }
}

